@use '../mixins/responsive' as *; // Import all mixins from index.scss

.grid {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-row-gap: var(--grid-row-gap, var(--grid-gutter));
  grid-column-gap: var(--grid-col-gap, var(--grid-gutter));

  @include sm {
    --grid-cols: var(--sm-grid-cols);
    --grid-gutter: var(--sm-grid-gutter);
    --grid-row-gap: var(--sm-grid-row-gap);
    --grid-col-gap: var(--sm-grid-col-gap);
  }

  @include md {
    --grid-cols: #{responsive(grid-cols, md, sm)};
    --grid-gutter: #{responsive(grid-gutter, md, sm)};
    --grid-row-gap: #{responsive(grid-row-gap, md, sm)};
    --grid-col-gap: #{responsive(grid-col-gap, md, sm)};
  }

  @include lg {
    --grid-cols: #{responsive(grid-cols, lg, md, sm)};
    --grid-gutter: #{responsive(grid-gutter, lg, md, sm)};
    --grid-row-gap: #{responsive(grid-row-gap, lg, md, sm)};
    --grid-col-gap: #{responsive(grid-col-gap, lg, md, sm)};
  }

  @include xl {
    --grid-cols: #{responsive(grid-cols, xl, lg, md, sm)};
    --grid-gutter: #{responsive(grid-gutter, xl, lg, md, sm)};
    --grid-row-gap: #{responsive(grid-row-gap, xl, lg, md, sm)};
    --grid-col-gap: #{responsive(grid-col-gap, xl, lg, md, sm)};
  }
}
