@use '../mixins/breakpoints' as *;

.grid {
  position: relative;
  display: grid;
  width: 100%;

  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-row-gap: var(--grid-row-gap, var(--grid-gutter));
  grid-column-gap: var(--grid-col-gap, var(--grid-gutter));
}

.col {
  grid-column: 1 / -1;
}

@mixin generate-cols($max) {
  @for $i from 1 through $max {
    .cols-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }

    .cols-md-#{$i} {
      @include gt-md {
        grid-column: span #{$i} / span #{$i};
      }
    }
  }
}

// Generate col-start classes for columns 1 to 16
@include generate-cols(16);
